name = "aicv"
main = "src/app.ts"
compatibility_date = "2025-02-21"
compatibility_flags = [ "nodejs_compat" ]

[assets]
directory = "public"
binding = "ASSETS"

[[d1_databases]]
binding = "DB"
database_name = "your-db-name"
database_id = "77bf466e-1c18-4e25-b406-15afe6dc35a8"
migrations_dir = "src/db/migrations"

[[r2_buckets]]
bucket_name = "resume-thumbnail-prod"
binding = "RESUME_THUMBNAIL_BUCKET"

[vars]
LOG_LEVEL = "info"
ENV = "production"
AUTH_URL = "https://aicv.johnlocke12321.workers.dev/api/auth"
GITHUB_CLIENT_ID = "your-github-client-id"
GITHUB_CLIENT_SECRET = "your-github-client-secret"
AUTH_SECRET = "your-auth-secret"
AUTH_GOOGLE_ID = "your-google-client-id"
AUTH_GOOGLE_SECRET = "your-google-client-secret" 
RESEND_API_KEY = "your-resend-api-key"
APP_URL = "https://aicv.johnlocke12321.workers.dev"
DEEPSEEK_API_KEY = "your-deepseek-api-key"
COOKIE_DOMAIN=".your-domain"

[observability.logs]
enabled = true



